<html>

<head>
<title>Title</title>
</head>

<body>

<p>if RMySQL is being a pain in the arse, then running this seems to help: (<a href="http://r.789695.n4.nabble.com/installing-RMySQL-PR-13633-tp923014p3057139.html">HT</a>)</p>
<pre>sudo apt-get install libmysqlclient-dev libcurl4-openssl-dev</pre>
<!--begin.rcode
#if we don't have the package needed, install it
#this is crying out for some refactoring
library(tools)
if("devtools" %in% rownames(installed.packages()) == FALSE) {install.packages("devtools")}
library("devtools")
if("DBI" %in% rownames(installed.packages()) == FALSE) {install.packages("DBI")}
library("DBI")
if("RMySQL" %in% rownames(installed.packages()) == FALSE) {install.packages("RMySQL")}
library("RMySQL")

setwd("/home/ben/Documents/GA-DS/Prediction book analysis")

dbPath <- "predictions_export.sql"
drv    = dbDriver("MySQL")
end.rcode-->

<p></p>

<!--begin.rcode
db <- dbConnect(drv, dbPath)

con = dbConnect(drv, user="root", dbname="mysql", host="127.0.0.1:3606")

end.rcode-->
</body>
</html>
